
/*
    cNote Documentation CSS
*/



body {
    margin:0;
    padding:0;
    font-family: "Nunito", sans-serif;
}
body, html {
    height:100%;
}
a {
    color: #13c3c0;
}
h1, h2, h3, h4, h5, h6 {
    //font-weight: bold;
}
h3 {
    margin: 30px 0;
}
h5 {
    margin: 30px 0;
}
.main-content {
    position: relative;
    height:100%;
}
.cn-header {
    height:300px;
    border-bottom:1px solid #eeeff0;
    background-color: #f9f9f9;
}
.docs-content {
    border: 1px solid #eeeff0;
    padding:20px;
}
.docs-sidebar {
    nav {
        border-color: #eeeff0;
        .list-group-item {
            &:active {
                background-color: $primary;
            }
        }
    }
}

.alert {
    padding: 25px;
    margin: 30px 0;
    p {
        margin: 0;
    }
    &.alert-secondary {
        background-color: #f4f5f6;
        border: none;
        &:before, &:after {
            display: block;
            position: absolute;
            top: -6px;
            right: -6px;
            bottom: -6px;
            left: -6px;
            border-radius: 0px;
            content: '';
            z-index: -1;
            border:1px solid #eeeff0;
        }
    }
}
